@import "functions";
//===colors===
$white-color: #ffffff;

//===sizes===
$size-11: em(11px);
$size-12: em(12px);
$size-13: em(13px);
$size-14: em(14px);
$size-16: em(16px);
$size-15: em(15px);
$size-17: em(17px);
$size-18: em(18px);
$size-19: em(19px);
$size-20: em(20px);
$size-23: em(23px);
$size-45: em(45px);
$size-50: em(50px);
$size-60: em(60px);
